<div class="jumbotron">
  
    <div class="row">
          <div class="input-group">
              <form [formGroup]="this.todoservice.form" (ngSubmit)='addtodo(todo)'>
              <p>
                  
                    <mat-form-field class="hidden">
                        <input matInput   formControlName="Done" >
                      </mat-form-field>
              </p>
                <p><mat-form-field class="example-full-width">
                  <input matInput placeholder="Todo" formControlName="Todo"  #todo/>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;
                Due <input type="date" name="due" formControlName="Due"/> </p>
                <p><mat-form-field class="example-full-width">
                  <textarea formControlName="Notes" matInput placeholder="Leave a note" #notes></textarea>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;
                    <button mat-raised-button type="submit" color="primary" >Submit</button>
                  
                </p>
              </form>
              
            
      </div>
      
      <table class="table-striped" >
        
        <thead>
          <th>Done</th><th>To-Do</th><th>Due</th><th>Notes</th><th>Edit</th>
        </thead>
        <ng-container *ngFor="let todo of todoList">
            <tr>
              <td>
                  <mat-checkbox [(ngModel)]="todo.Done"  ></mat-checkbox>
              </td>
                <td>{{todo.Todo}}</td>
                <td>{{todo.Due | date: 'EE, MMM dd'}}</td>
                <td>{{todo.Notes}}</td>
                <td colspan="2">
                  
  <button mat-fab color="primary" (click)='todoservice.edit(todo)'>Edit</button>
  <button mat-fab color="warn" (click)='todoservice.deletetodo(todo)'>Delete</button>
                  
                </td>
              </tr>
        </ng-container>
        
        </table>
        
    
  </div>
</div>